WATCHDOG__GITHUB_REPO=njdldkl666699/python-scripts
WATCHDOG__GITHUB_BRANCH=main
WATCHDOG__GITHUB_TOKEN=ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
WATCHDOG__PULL_INTERVAL=60
WATCHDOG__CORE_COMMAND="nb run"